body {
	background-image: url(../img/honeycomb.png);
	background-repeat: repeat;
}

#navbar {
	position: static;
}

#menu-bar {
	margin-right: 20px;
}

#wmd-button-bar {
	margin-left: 20px;
}

#wmd-input,#wmd-preview {
	position: absolute;
}

#wmd-input {
	font-family: "Courier New", Courier, monospace;
	resize: none;
}

#wmd-preview {
	overflow: auto;
}

.wmd-button-row {
	margin: 10px 0;
	height: 20px;
}

.wmd-spacer {
	margin: 0 5px;
	display: inline-block;
}

.wmd-prompt-background {
	background-color: Black;
}

.wmd-prompt-dialog {
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog>div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog>form>input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog>form>input[type="button"] {
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

.icon-code {
	background-position: -384px -168px;
}

.icon-numbered-list {
	background-position: -408px -168px;
}

.icon-hr {
	background-position: -432px -168px;
}

.icon-undo {
	background-position: -456px -168px;
}

.icon-gdrive {
	background-image: url("../img/gdrive.png") !important;
	width: 16px;
	height: 16px;
	background-position: 0 0;
}

.ui-layout-toggler-north {
	margin-top: -3px !important;
	height: 18px !important;
}

.ui-layout-toggler-south {
	margin-top: 3px !important;
	height: 18px !important;
}

.ui-layout-toggler-south .caret {
	margin-top: 6px;
}

.ui-layout-toggler-north-open .caret,.ui-layout-toggler-south-closed .caret
	{
	border-bottom: 5px solid #525252;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 0;
}

.ui-layout-toggler-north-closed .caret,.ui-layout-toggler-south-open .caret
	{
	border-top: 5px solid #525252;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-bottom: 0;
}

.ui-layout-toggler-east {
	margin-left: 3px !important;
	width: 18px !important;
}

.ui-layout-toggler-east .caret,.ui-layout-toggler-west .caret {
	margin-top: 40px;
}

.ui-layout-toggler-east-open .caret,.ui-layout-toggler-west-closed .caret
	{
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	border-left: 5px solid #525252;
	border-right: 0;
}

.ui-layout-toggler-east-closed .caret,.ui-layout-toggler-west-opened .caret
	{
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	border-right: 5px solid #525252;
	border-left: 0;
}