body {
	background-color: White;
	font-family: sans-serif;
}

#info-filename {
	float:right;
}

#wmd-input, #wmd-preview  {
    position: absolute;
	top: 50px;
}

#wmd-input {
	left: 20px;
	font-family: "Courier New", Courier, monospace;
    resize: none;
}

#wmd-preview {
	left: 50%;
	overflow: auto;
}

.wmd-button-row {
	margin: 10px 30px;
	top: 10px;
	left: 30px;
	padding: 0px;
	height: 20px;
}

.wmd-spacer {
	width: 1px;
	height: 20px;
	margin: 0 7px;
	background-color: Silver;
	display: inline-block;
	list-style: none;
}

.wmd-button {
	width: 20px;
	height: 20px;
	padding-left: 2px;
	padding-right: 3px;
	display: inline-block;
	list-style: none;
	cursor: pointer;
}

.wmd-button>span {
	background-image: url(../img/wmd-buttons.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid #e3e3e3;
}

.wmd-prompt-background {
	background-color: Black;
}

.wmd-prompt-dialog {
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog>div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog>form>input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog>form>input[type="button"] {
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}