@import url("bootstrap.css");
@import url("jgrowl.css");

body {
	background-color: #f5f5f5;
}

.working {
	cursor: progress;
}

.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*
Override Bootstrap 
*/
div, span, a, ul, li, textarea, input, button {
	background-image: none !important;
	filter: none !important;
	-webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

.btn, .navbar-inner, .ui-layout-east, .ui-layout-south, textarea, input, .add-on {
    border: none !important;
}

.dropdown-menu {
    border: 1px solid #e2e2e2 !important;
}

.input-prepend input,
.input-prepend .btn,
.input-prepend .add-on
 {
    border: 1px solid #ebebeb !important;
}

input.error {
    border-color: #ff6661 !important; 
}

.navbar-inner .btn {
	background-color: #ddd;
}

.navbar-inner .btn:hover,
.navbar-inner .btn:focus,
.navbar-inner .btn:active,
.navbar-inner .btn.active,
.btn-group.open .btn.dropdown-toggle {
  color: #333333;
  background-color: #eee;
}

.navbar-inner .btn.disabled,
.navbar-inner .btn[disabled] {
  color: #333333;
  background-color: #ddd;
    opacity: 0.3;
  filter: alpha(opacity=30);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-color: #888;
}

.btn-primary {
  background-color: #777;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly], .input-append .add-on {
    cursor: not-allowed;
    background-color: #f5f5f5;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #888;
}

.btn-group {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.btn-group > .btn + .dropdown-toggle {
    padding-right: 12px;
    padding-left: 12px;
}

.navbar-inner {
	background-color: #ddd !important;
}

code {
	color: #333333 !important;
}

h1 {
	margin: 50px 0 20px;
}

h2 {
	margin-top: 30px;
}

p, pre, blockquote {
    margin: 0 0 20px;
}

hr {
    border-top: 1px solid #ddd;
    margin: 30px 0;
}

#file-title {
    line-height: 23px;
    padding: 9px 15px 11px;
}

#file-title i {
	margin: 4px 5px 0;
}

.dropdown-menu i {
	margin-right: 5px;
}

#navbar {
	position: static;
}

#menu-bar {
	margin: 0 15px 10px 15px;
}

#wmd-button-bar {
	margin-left: 15px;
}

#wmd-input,#wmd-preview {
	position: absolute;
}

#wmd-input {
	font-family: "Courier New", Courier, monospace;
	resize: none;
}

#wmd-preview {
	overflow: auto;
}

.wmd-button-row {
	margin: 10px 0;
	height: 20px;
}

.wmd-spacer {
	margin: 0 10px;
	display: inline-block;
}

.wmd-prompt-background {
	display: none;
}

.wmd-prompt-dialog {
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog>div {
	font-size: 0.8em;
	font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog>form>input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog>form>input[type="button"] {
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
}

.icon-code {
	width: 15px;
	background-position: -384px -168px;
}

.icon-numbered-list {
	background-position: -408px -168px;
}

.icon-hr {
	background-position: -432px -168px;
}

.icon-undo {
	background-position: -456px -168px;
}

.icon-gdrive {
	background-image: url("../img/gdrive.png") !important;
	width: 16px;
	height: 16px;
	background-position: 0 0;
}

.icon-dropbox {
	background-image: url("../img/dropbox.png") !important;
	width: 16px;
	height: 16px;
	background-position: 0 0;
}

.icon-spinner {
	background-image: url("../img/ajax-loader.gif");
	width: 43px;
	height: 11px;
	background-position: 0 0;
	margin: 14px 15px 0;
}

.ui-layout-toggler-north .caret, .ui-layout-toggler-south .caret {
	margin-top: 5px;
}

.ui-layout-toggler-north-open .caret,.ui-layout-toggler-south-closed .caret
	{
	border-bottom: 5px solid #525252;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 0;
}

.ui-layout-toggler-north-closed .caret,.ui-layout-toggler-south-open .caret
	{
	border-top: 5px solid #525252;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-bottom: 0;
}

.ui-layout-toggler-east .caret,.ui-layout-toggler-west .caret {
	margin-top: 40px;
}

.ui-layout-toggler-east-open .caret,.ui-layout-toggler-west-closed .caret
	{
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	border-left: 5px solid #525252;
	border-right: 0;
}

.ui-layout-toggler-east-closed .caret,.ui-layout-toggler-west-opened .caret
	{
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	border-right: 5px solid #525252;
	border-left: 0;
}

/* Google picker */
.picker-dialog {
	z-index: 1050 !important;
}
