<div class="form-group">
	<label class="col-sm-4 control-label"
		for="input-settings-shortcut-<%= shortcut.name %>"><%= shortcut.title %></label>
	<div class="col-sm-8 form-inline">
		<input type="text" id="input-settings-shortcut-<%= shortcut.name %>"
			class="form-control col-sm-4">
		<label class="col-sm-2 control-label"
		    for="input-settings-shortcut-<%= shortcut.name %>-mac">Mac</label>
        <input type="text"
			id="input-settings-shortcut-<%= shortcut.name %>-mac"
			class="form-control col-sm-4">
	</div>
</div>
