{
    "env": {
        "browser": true,
        "amd": true
    },
    "rules": {
        "curly": 2,
        "no-comma-dangle": 0,
        "strict": 0,
        "quotes": 0,
        "no-underscore-dangle": 0,
        "consistent-return": 0,
        "no-unused-expressions": 0,
        "no-use-before-define": 0,
        "camelcase": 0,
        "eqeqeq": 0
    }
}
