@import "../bower-libs/bootstrap/less/bootstrap.less";
@import (less) "../bower-libs/google-code-prettify/src/prettify.css";
@import (less) "../libs/highlight/styles/default.css";
@import (less) "../libs/fontello/css/fontello.css";

@text-color: #000;
@kbd-color: #333;
@kbd-bg-color: #FFF;
@kbd-border-color: fade(@text-color, 25%);
@blockquote-border-color: #eee;
@blockquote-bg: #f8f8f8;
@title-base-size: 14px;
@code-color: @text-color;
@code-bg: fade(@text-color, 4%);
@pre-bg: @blockquote-bg;
@pre-border-color: @blockquote-border-color;


@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url("../font/OpenSans-Light-webfont.woff") format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url("../font/OpenSans-Regular-webfont.woff") format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url("../font/OpenSans-Bold-webfont.woff") format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url("../font/OpenSans-LightItalic-webfont.woff") format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url("../font/OpenSans-Italic-webfont.woff") format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url("../font/OpenSans-BoldItalic-webfont.woff") format('woff');
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'), url('../font/OpenSans-Light-webfont.svg') format('svg');
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans'), local('OpenSans'), url('../font/OpenSans-Regular-webfont.svg') format('svg');
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../font/OpenSans-Bold-webfont.svg') format('svg');
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 300;
        src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('../font/OpenSans-LightItalic-webfont.svg') format('svg');
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 400;
        src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../font/OpenSans-Italic-webfont.svg') format('svg');
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Open Sans';
        font-style: italic;
        font-weight: 700;
        src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../font/OpenSans-BoldItalic-webfont.svg') format('svg');
    }
}

@font-family-sans-serif: 'Open Sans', "Trebuchet MS", Helvetica, sans-serif;

body {
    -webkit-font-smoothing: antialiased;
}

// Copied from Bootstrap in order to have correct urls
.img-retina(@file-1x; @file-2x; @width-1x; @height-1x) {
  background-image: url("@{file-1x}");

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("@{file-2x}");
    background-size: @width-1x @height-1x;
  }
}

.container {
    margin-bottom: 180px;
}

a code {
	color: inherit;
}

h1 { font-size: floor(@title-base-size * 2.60); }
h2 { font-size: floor(@title-base-size * 2.15); }
h3 { font-size: ceil(@title-base-size * 1.70); }
h4 { font-size: ceil(@title-base-size * 1.25); }
h5 { font-size:  @title-base-size; }
h6 { font-size: ceil(@title-base-size * 0.85); }

h1 {
	margin: 60px 0 40px;
}

h2 {
	margin: 50px 0 30px;
}

h3 {
	margin: 35px 0 20px;
}

h4, h5, h6 {
	margin: 25px 0 15px;
}

p,
pre,
pre.prettyprint,
blockquote {
	margin: 0 0 15px;
}

hr {
	margin: 30px 0;
}

code, pre {
	font-family: Menlo, Consolas, "Courier New", monospace;
	font-size: 12px !important;
}

pre, pre.prettyprint {
	border: 0 solid @pre-border-color;
    border-left: 10px solid @pre-border-color;
	border-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 10px 15px;
	code {
	    background-color: transparent !important;
	}
}

/* Definition list */
dt,dd {
	margin-top: 5px;
	margin-bottom: 5px;
}

dd {
	margin-left: 40px;
}

/* Table style */
table {
	margin-bottom: 20px;
}

table th,table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #dddddd;
}

table th {
	font-weight: bold;
}

table thead th {
	vertical-align: bottom;
}

table caption+thead tr:first-child th,table caption+thead tr:first-child td,table colgroup+thead tr:first-child th,table colgroup+thead tr:first-child td,table thead:first-child tr:first-child th,table thead:first-child tr:first-child td
	{
	border-top: 0;
}

table tbody+tbody {
	border-top: 2px solid #dddddd;
}

blockquote {
	border-left-width: 10px;
	background-color: @blockquote-bg;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 15px 20px;
	p {
	    margin-bottom: 15px;
	    font-size: @font-size-base;
	    line-height: @line-height-base;
	}
	
	ul:last-child,
	ol:last-child {
		margin-bottom: 0;
	}
}

ul,ol {
	margin-bottom: 15px;
	ul,ol {
		margin-bottom: 15px;
	}
}

kbd {
    padding: 0.1em 0.6em;
    border: 1px solid @kbd-border-color;
    .box-shadow(0 1px 0px @kbd-border-color);
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: @kbd-bg-color;
    color: @kbd-color;
    border-radius: 3px;
    display: inline-block;
    margin: 0 0.1em;
    white-space: nowrap;
}

.toc ul {
	list-style-type: none;
	margin-bottom: 5px;
}

.footnote {
	vertical-align: top;
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

/***********************
 * Icons
 ***********************/

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	line-height: 14px;
	vertical-align: middle;
	background-repeat: no-repeat;
}

// Custom icons (not from Font Awesome)
.icon-code {
	font-size: 80%;
	&:before {
    	margin-left: 0.1em;
    	margin-right: 0.6em;
	}
}

.icon-folder-open {
	font-size: 80%;
	&:before {
    	margin-right: 0.6em;
	}
}

.icon-chart-bar {
	font-size: 90%;
	&:before {
    	margin-left: 0.3em;
    	margin-right: 0.3em;
	}
}

.icon-file {
    font-size: 104%;
	margin-left: 0;
	margin-right: 0;
}

.icon-link {
    font-size: 104%;
}

// Provider's icons (the colored ones)
[class^="icon-provider-"], [class*=" icon-provider-"] {
	.img-retina('../img/icons.png', '../img/icons2x.png', 256px, 16px);
	width: 18px;
	height: 16px;
	margin-top: -2px;
	margin-left: 1px;
}

.icon-provider-stackedit {
	background-position: 0 0;
}

.icon-provider-gdrive, .icon-provider-gdrivesec, .icon-provider-gdriveter {
	background-position: -18px 0;
	&.realtime {
		background-position: -162px 0;
	}
}

.icon-provider-dropbox {
	background-position: -37px 0;
}

.icon-provider-github,.icon-provider-gist {
	background-position: -54px 0;
}

.icon-provider-blogger, .icon-provider-bloggerpage {
	background-position: -72px 0;
}

.icon-provider-tumblr {
	background-position: -90px 0;
}

.icon-provider-wordpress {
	background-position: -108px 0;
}

.icon-provider-ssh {
	background-position: -126px 0;
}

.icon-provider-gplus {
	background-position: -144px 0;
}

/*******************
 * RTL
 *******************/
body.rtl {
    #wmd-input,
    #preview-contents,
    .input-file-title,
    .search-bar input,
    .modal-document-manager input,
    .container {
        direction: rtl;
    }
}

/*******************
 * PDF
 *******************/
body.pdf {
	font-family: "DejaVu Sans";

	code, pre {
	    font-family: "DejaVu Sans Mono";
	}
}
