body,
.btn,
.well,
.modal-footer,
pre,
input[disabled],
select[disabled],
textarea[disabled],
.input-prepend .add-on {
	background-color: #f1f2f6;
}

.navbar-inner {
    background-color: #ced5de !important;
}

.navbar-inner .btn {
    background-color: #ced5de;
}

.btn:hover,
.navbar-inner .btn:hover,
.navbar-inner .btn:focus,
.navbar-inner .btn:active,
.navbar-inner .btn.active,
.btn-group.open .btn.dropdown-toggle {
    background-color: #e1e6ed;
}

.btn-primary {
    background-color: #80838a;
}

.btn-primary:hover {
    background-color: #8e929a;
}

.navbar-inner .btn.disabled,
.navbar-inner .btn[disabled] {
    background-color: #ced5de;
}

.navbar .nav > li > a {
	color: #64656b;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    background-color: #8e929a;
    border-color: #8e929a;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
div.jGrowl div.jGrowl-notification {
    background-color: #80838a;
}

.working-indicator.show {
    background-image: url("ajax-loader.gif") !important;
}

.viewer .navbar-inner {
    background-color:rgba(195,203,214,0.75) !important;
}

