@import './variables.scss';
@import './base';
@import './markdownHighlighting';

body {
  background-color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  tab-size: 4;
  text-rendering: auto;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

.icon {
  width: 100%;
  height: 100%;

  * {
    fill: currentColor;
  }
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.text-input {
  display: block;
  font-variant-ligatures: no-common-ligatures;
  width: 100%;
  height: 36px;
  padding: 3px 12px;
  font-size: inherit;
  line-height: 1.5;
  color: inherit;
  background-color: #fff;
  background-image: none;
  border: 0;
  border-radius: $border-radius-base;
}

.button {
  color: #333;
  background-color: transparent;
  display: inline-block;
  height: auto;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 0;
  border-radius: $border-radius-base;

  &:active,
  &:focus,
  &:hover {
    color: #333;
    background-color: rgba(0, 0, 0, 0.067);
    outline: 0;
    text-decoration: none;
  }

  &[disabled] {
    &,
    &:active,
    &:focus,
    &:hover {
      opacity: 0.33;
      background-color: transparent;
      cursor: not-allowed;
    }
  }
}

.textfield {
  background-color: transparent;
  border: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.05em;
  padding: 0 0.6rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  color: inherit;
  height: 2.6rem;

  &:focus {
    outline: none;
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: #f8f8f8;
    color: #999;
  }
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.flex--column {
  flex-direction: column;
}

.flex--center {
  justify-content: center;
}

.flex--end {
  justify-content: flex-end;
}

.flex--space-between {
  justify-content: space-between;
}

.flex--align-center {
  align-items: center;
}

.side-title {
  height: 44px;
  line-height: 36px;
  padding: 4px 4px 0;
  background-color: rgba(0, 0, 0, 0.1);
  flex: none;
}

.side-title__button {
  width: 38px;
  height: 36px;
  padding: 6px;
  display: inline-block;
  background-color: transparent;
  opacity: 0.75;
  flex: none;

  /* prevent from seeing wrapped buttons */
  margin-bottom: 20px;

  &:active,
  &:focus,
  &:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.side-title__title {
  text-transform: uppercase;
  padding: 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.tabs {
  border-bottom: 1px solid $hr-color;
  margin-bottom: 2em;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.tabs__tab {
  width: 50%;
  float: left;
  text-align: center;
  line-height: 1.4;
  padding: 0.67em 0.33em;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
  color: $link-color;
  font-weight: 400;
  font-size: 1.1em;

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.067);
  }
}

.tabs__tab--active {
  border-bottom: 2px solid $link-color;
  color: inherit;
  cursor: auto;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.logo-background {
  background: no-repeat center url('../assets/logo.svg');
  background-size: contain;
}
