$font-family-editor: "Helvetica Neue", Helvetica, sans-serif;
$font-family-monospace: "Lucida Sans Typewriter", "Lucida Console", monaco, Courrier, monospace;
$font-size-monospace: 0.9em;
$code-bg: rgba(0, 0, 0, 0.05);
$code-border-radius: 2px;
$link-color: #007acc;
$border-radius-base: 2px;

$editor-color: rgba(0, 0, 0, 0.8);
$editor-color-light: rgba(0, 0, 0, 0.28);
$editor-color-dark: #000;
$editor-font-weight-base: 400;
$editor-font-weight-bold: 600;
