
<dl>
	<dt>About:</dt>
	<dd>
		<a target="_blank" href="https://github.com/benweet/stackedit/">GitHub
			page</a> / <a target="_blank"
			href="https://github.com/benweet/stackedit/issues">issue tracker</a>
	</dd>
	<dd>
		<a target="_blank"
			href="https://chrome.google.com/webstore/detail/stackedit/iiooodelglhkcpgbajoejffhijaclcdg">Chrome
			app</a> (thanks for your review!)
	</dd>
	<dd>
		<a target="_blank" href="https://twitter.com/stackedit/">Follow on
			Twitter</a>
	</dd>
	<dd>
		<a target="_blank" href="https://www.facebook.com/stackedit/">Follow
			on Facebook</a>
	</dd>
	<dd>
		<a target="_blank"
			href="https://plus.google.com/110816046787593496375" rel="publisher">Follow
			on Google+</a>
	</dd>
</dl>
<dl>
	<dt>Developers:</dt>
	<dd>
		<a target="_blank" href="http://www.benoitschweblin.com">Benoit
			Schweblin</a><br />
	</dd>
	<dd>Pete Eigel (contributor)
	</dd>
</dl>
<dl>
	<dt>Credit:</dt>
	<% _.each(libraries, function(url, name) { %>
    <dd>
        <a target="_blank" href="<%= url %>"><%= name %></a>
    </dd>
	<% }); %>
</dl>
<dl>
	<dt>Related projects:</dt>
    <% _.each(projects, function(url, name) { %>
    <dd>
        <a target="_blank" href="<%= url %>"><%= name %></a>
    </dd>
    <% }); %>
</dl>
<p>Copyright 2013 <a target="_blank"
	href="http://www.benoitschweblin.com">Benoit Schweblin</a><br />
	Licensed under an <a target="_blank"
	href="http://www.apache.org/licenses/LICENSE-2.0">Apache License</a></p>
