<div class="accordion-group">
	<div class="accordion-heading">
	<div class="checkbox pull-right">
		<label> <input
			id="input-enable-extension-<%= extensionId %>" type="checkbox"<%
			if(!isOptional) print('disabled') %>> enabled
		</label></div><a data-toggle="collapse"
			data-parent="#accordion-extensions" class="accordion-toggle"
			href="#collapse-<%= extensionId %>"> <%= extensionName %> </a>
	</div>
	<div id="collapse-<%= extensionId %>" class="accordion-body collapse">
		<div class="accordion-inner clearfix"><%= settingsBlock %></div>
	</div>
</div>
